{% extends 'for_hw192/base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.product_name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ product.buy_cost }}</h1>
                    <ul class="col-12 col-md-2 p-10 mt-3">
                        <img src="{% static 'img/category_img_01.jpg' %}" class="rounded-circle img-fluid border">
                        <li>- {{ product.description|slice:100 }}</li>
                        <li>- {{ product.category }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}